<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      function updateContents(){
        //글 수정 화면으로 이동
        location.href = "/update/<%= board.id%>";
      };
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <h1>본문 제목 : <%=board.title%> </h1>
      <h3>본문 작성자 : <%=board.author%> </h3>
      <h3>본문 내용 : <%=board.contents%> </h3>
      <input type="button" value="본문수정" onclick="updateContents();">
    <hr>

      <!--댓글 표시 영역-->
      <% if (board.comments !== null){
        for(let i = 0; i < board.comments.length; i++) { %>
      <h3>댓글No : <%=[i+1]%> </h3>    
      <h3>댓글 : <%=board.comments[i].contents%> </h3>
      <h3>댓글 쓴 놈 : <%=board.comments[i].author%> </h3>

      <%  }} %>

    <hr>  
    <!--댓글 입력 영역-->     
    <form action="comment/write/<%= board._id%>" method="post">
      <input type="text" name="id" value="<%=board._id%>" hidden>
      댓글 : <textarea name="contents"></textarea><br>
      댓글 쓴 놈 : <input type="text" name="author"><br>
      <input type="submit" value="확인">
    </form>
    <!--뒤로 가기 버튼으로 목록 보기-->
    <input type="button" value="목록" onclick="history.back(-1);">
  </body>
</html>
