<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>DANAWA - 코디룩 게시판</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/board.css">
  <script>
    function updateContents() {
      //글 수정 화면으로 이동
      location.href = "/update/<%= board._id%>";
    };
  </script>
</head>

<body class="single is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header">
      <h1><a href="/">Danawa</a></h1>
      <nav class="links">
        <ul>
          <li><a class="smooth" href="#">Codi Book</a></li>
          <li><a class="smooth" href="/clothes">Clothes</a></li>
          <li><a class="smooth" href="/search">Search Clothes</a></li>
          <li><a class="smooth" href="#reco">Recommed Clothes</a></li>
          <li><a class="smooth" href="e">뭘로 쓸지 몰라서 일단 남겨둠</a></li>
        </ul>
      </nav>
      <nav class="main">
        <ul>
          <li class="search">
            <a class="fa-search" href="#search">Search</a>
            <form id="search" method="get" action="#">
              <input type="text" name="query" placeholder="Search" />
            </form>
          </li>
          <li class="menu">
            <a class="fa-bars" href="#menu">Menu</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

      <!-- Search/ 검색바 어떠케 쓸지는 정해봐야 할듯 -->
      <section>
        <form class="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </section>

      <!-- Links -->
      <section>
        <ul class="links">
          <li>
            <a href="/bindex">
              <h3>Codi Book</h3>
              <p>코디를 업로드 하여 공유해봐요!</p>
            </a>
          </li>
          <li>
            <a href="/clothes">
              <h3>Clothes</h3>
              <p>자신의 옷을 저장하여 보관하세요!</p>
            </a>
          </li>
          <li>
            <a href="/search">
              <h3>Search Clothes</h3>
              <p>필터의 기능을 사용하여 원하는 옷을 검색하세요!</p>
            </a>
          </li>
          <li>
            <a href="#reco">
              <h3>Recommed Clothes</h3>
              <p>딥러닝 기술을 사용하여 상황에 맞는 옷을 추천해 드립니다.</p>
            </a>
          </li>
        </ul>
      </section>
    </section>

    <!-- Main -->
    <div id="main">

      <!-- Post -->
      <article class="post">
        <header>
          <div class="title">
            <h3 class="h3"><a href="#">상세보기 및 댓글쓰기</a></h3>
            <p>게시글을 읽고 댓글을 달아보세요</p>
          </div>
        </header>
        <div class="container-fluid">
          <div class="mb-5">
          <div class="col-2 view">
            <p><%=board.views%>views</p>
          </div>
          <div class="row col-12 d-flex justify-content-center">
            <div class="col-8 dis1">
              <p> <%=board.title%></p>
            </div>
            <div class="col-1"></div>
            <div class="col-2 dis1">
              <p><%=board.author%></p>
            </div>
          </div>
          <div class="row col-12 d-flex justify-content-center">
           
            <div class="col-11 dis2">
              <p><%=board.contents%></p>
            </div>
            <input type="button" value="본문수정" onclick="updateContents();" class="updbt">

          </div>
        </div>


        <div class="container-fluid">
          <div class="container p-0">

          <!--댓글 표시 영역-->
          <% if (board.comments !== null){
  for(let i = 0; i < board.comments.length; i++) { %>
          <hr class="hr">

          <p class="bo_co">No. <%=[i+1]%> <%=board.comments[i].author%> </p>
          <p class="bo_co1"> <%=board.comments[i].contents%> </p>

          <%  }} %>
        </div>
        <hr>

          <!--댓글 입력 영역-->
          <form action="comment/write/<%= board._id%>" method="post">
            <input type="text" name="id" value="<%=board._id%>" hidden>
            댓글 : <textarea name="contents"></textarea><br>
            댓글 쓴 사람 : <input type="text" name="author"><br>
            <div class="d-flex justify-content-end">
            <input type="submit" value="확인">
            <!--뒤로 가기 버튼으로 목록 보기-->
            <input type="button" value="목록" onclick="history.back(-1);">
        </div>

          </form>
        </div>
      </div>

      </article>

  </div>

  <!-- Footer -->
  <section id="footer">
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
      <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
        href="http://unsplash.com">Unsplash</a>.</p>
  </section>

  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>