<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/cloth.css" />

  <title>DANAWA | CLOTHES</title>
</head>

<body class="single is-preload">



  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header">
      <h1><a href="/main">Danawa</a></h1>
      <nav class="links">
        <ul>
          <li><a class="smooth" href="/bindex">Codi Book</a></li>
          <li><a class="smooth" href="/clothes">Clothes</a></li>
          <li><a class="smooth" href="/search">Search Clothes</a></li>
          <li><a class="smooth" href="/weather">Recommed Clothes</a></li>
        </ul>
       
      </nav>
   <div class="row " id="toptop">
          <p style="text-transform:none;  margin-top: 12px;"><span style="font-weight: bold; font-size: 16px;"> <%= session.username %></span>님 환영합니다. </p>
          <p style="text-transform:none; padding-right: 50px;  margin-top: 18px;"><a href="/logout">Log Out</a></p>
          </div>
    </header>


    <!-- Main -->
    <div id="main">

      <!-- Post -->
      <article class="post clothes_post">
        <header>
          <div class="title">
            <h2>CLOTHES FOR <%= session.username %></h2>
            
            <section class="inner-page">
              <section id="tabs" class="project-tab">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">내 옷장 보기</a>

                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">코디 작성</a>

                          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                            role="tab" aria-controls="nav-contact" aria-selected="false">등록 코디</a>
                        </div>
                      </nav>
                      <!-- Modal -->
                      <div class="modal fade bd-example-modal-lg mt-5 mb-5 p-0" id="addModal" tabindex="-1"
                        role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="ModalLabel">새 아이템 등록
                              </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/clothes/addItem" method="post" id="id-form-additem" >
                                <div class="row cls-additem-firstrow mt-2 p-3">
                                  <div class="form-group col-sm-6 ">
                                    <label for="id-additem-part"><i class="fas fa-asterisk"></i> 부위</label>
                                    <select name="part" class="form-control select_cate" id="id-additem-part"
                                      onchange="addCateChange(this)" required>
                                      <option value="0" selected>선택하세요</option>
                                      <option value="머리">머리</option>
                                      <option value="상의">상의</option>
                                      <option value="하의">하의</option>
                                      <option value="발">발</option>
                                      <option value="기타">기타</option>
                                    </select>
                                  </div>
                                  <div class="col-md-1"></div>
                                  <div class="form-group col-sm-5">
                                    <label for="id-additem_cate"><i class="fas fa-asterisk"></i>카테고리</label>
                                    <select class="form-control select_cate" id="id-additem_cate" name="cate">
                                      <option value="0" selected>선택하세요</option>
                                    </select>
                                  </div>
                                </div><!-- 첫 줄 end-->
                                <div class="row divbar p-3">
                                  <span class="col-md-2" style="text-align: center;">선택 사항</span>
                                  <hr class="col-md-10 hr_">
                                </div> 

                                <div class="row mb-3 p-3">
                                  <div class="col-3 ">
                                    <label for="id-additem-color">색상</label>
                                    <input type="color" name="color" class="form-control p-2" style="height: 35px;"
                                      id="id-additem-color" />
                                  </div>
                                  <div class="col-4">
                                    <label>착용 가능 계절</label>
                                    <div class="form-control p-2">
                                      <div class="row">
                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="checkbox" name="season"
                                            id="id-additem-season1" value="봄" checked>
                                          <label class="form-check-label" for="id-additem-season1">봄</label>
                                        </div>

                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="checkbox" name="season"
                                            id="id-additem-season2" value="여름">
                                          <label class="form-check-label" for="id-additem-season2">여름</label>
                                        </div>
                                      </div>
                                      <div class="row mt-3">

                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="checkbox" name="season"
                                            id="id-additem-season3" value="가을">
                                          <label class="form-check-label" for="id-additem-season3">가을</label>
                                        </div>
                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="checkbox" name="season"
                                            id="id-additem-season4" value="겨울">
                                          <label class="form-check-label" for="id-additem-season4">겨울</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-5 ">
                                    <label>무늬</label>
                                    <div class="form-control p-2">
                                      <div class="row">

                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="radio" name="pattern"
                                            id="id-additem-pattern1" value="solid" checked>
                                          <label class="form-check-label" for="id-additem-pattern1">Solid</label>
                                        </div>
                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="radio" name="pattern"
                                            id="id-additem-pattern2" value="stripe">
                                          <label class="form-check-label" for="id-additem-pattern2">Stripe</label>
                                        </div>
                                      </div>
                                      <div class="row mt-3">

                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="radio" name="pattern"
                                            id="id-additem-pattern3" value="dot">
                                          <label class="form-check-label" for="id-additem-pattern3">Dot</label>
                                        </div>
                                        <div class="form-check form-check-inline inline col-5">
                                          <input class="form-check-input" type="radio" name="pattern"
                                            id="id-additem-pattern4" value="print">
                                          <label class="form-check-label" for="id-additem-pattern4">Printing</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div><!-- 둘째 줄 end-->


                                <div class="row mb-3 p-3">
                                  <div class="col-3">
                                    <label>색상 타입</label>
                                    <div class="form-control">
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="colortype"
                                          id="id-additem-colortype1" value="true" checked>
                                        <label class="form-check-label" for="id-additem-colortype1">단색</label>
                                      </div>
                                      <div class="form-check form-check-inline mt-3">
                                        <input class="form-check-input" type="radio" name="colortype"
                                          id="id-additem-colortype2" value="false">
                                        <label class="form-check-label" for="id-additem-colortype2">복합</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-2">
                                    <label for="id-additem-texture">재질</label>
                                    <input class="form-control" type="text" name="texture" id="id-additem-texture">
                                  </div>
                                  <div class="col-2">
                                    <label for="id-additem-brand">브랜드</label>
                                    <input class="form-control" type="text" name="brand" id="id-additem-brand">
                                  </div>
                                  <div class="col-5">
                                    <label for="id-additem-desc">메모</label>
                                    <textarea rows="3" class="form-control" name="descript" id="id-additem-desc"
                                      placeholder="메모를 작성하세요."></textarea>
                                  </div>
                                </div><!-- 셋째 줄 end-->

                                <div id="id-form-image">
                                  <div class="row p-3">
                                    <div class="col-4">
                                      <div class="row mb-3">
                                        <div class="col-12" id="add_item_pic">
                                          <label for="id-input-image" class="img_label"><i class="fas fa-asterisk"></i>
                                            옷
                                            사진 등록</label>
                                          <div class="form-group">
                                            <input class="form-control-file btn" type="file" accept="image/*" required
                                              name="image" id="imgInp" />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-8">
                                      <label class="img_label"><i class="fas fa-asterisk"></i> 저장할 사진 미리보기 </label>
                                      <div class="form-control">
                                        <div class="row justify-content-center">
                                          <div class="col-12">
                                            <div class="custom-control">
                                              <label class="custom-label">사진</label>
                                            </div>
                                          </div>

                                        </div>
                                        <div class="row pl-5 pr-5 pb-2">
                                          <div class="col-12">
                                            <img style="width: 100%; height: auto;" id="blah"
                                              src="images/NoImage.jpg" />
                                          </div>

                                        </div>
                                      </div>
                                      <div class="alert">
                                        <h4 class="alert-heading">사진을 깔끔하게 정리하고 싶으신가요?</h4>
                                        <span>아래 사이트로 이동하여 배경을 제거하실 수 있습니다.</span>
                                        <hr>
                                        <span class="mb-0"><a href="https://www.remove.bg/" class="alert-link">Click -
                                            remove.bg</a></span><br>
                                        <span class="mb-0"><a href="https://online.photoscissors.com/"
                                            class="alert-link">Click -
                                            PhotoScissors Online</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-se" data-dismiss="modal">Close</button>
                                  <input type="submit" class="btn-pr" value="Save changes">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal fade" id="myListModal" role="dialog">
                        <div class="modal-dialog modal-xl">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                              <p></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      


                      <div class="tab-content container-fluid" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                          aria-labelledby="nav-home-tab">
                          <section class="inner-page">
                            <div class="container">
                              <div class="inner-cont center">
                                <button type="button" class="btn" data-toggle="modal" data-target="#addModal">
                                  아이템 추가
                                </button>
                              </div>

                              <div class="container-fluid clothes">
                                <div class="cate" id="cate">
                                  <a type="button" class="fun-btn" id="item_hat">모자</a>


                                  <button type="button" class="fun-btn" id="item_acc">액세서리</button>
                                  <div class="br">
                                    <button type="button" class="fun-btn" id="item_top" >상의</button>
                                    <div class="br">

                                      <button type="button" class="fun-btn" id="item_out">아우터</button>
                                      <div class="br">
                                        <div class="br">
                                          <button type="button" class="fun-btn" id="item_btm">하의</button>
                                          <div class="br">

                                            <button type="button" class="fun-btn" id="item_bag">가방</button>
                                            <div class="br">

                                              <button type="button" class="fun-btn" id="item_sock">양말</button>
                                              <button type="button" class="fun-btn" id="item_shoe">신발</button>

                                              <button type="button" class="fun-btn" id="item_else">기타</button>
                                            </div>
                                          </div>
                                        </div>
                          </section>
                        </div>

                        
                      
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <section class="inner-page">
                            <div class="container">
                              <div class="inner-cont center col-lg-12">
                                <button type="button" class="btn" data-toggle="modal" id="addModal_" data-target="#addModal">
                                  아이템 추가
                                </button>
                              </div>
                              <div class="container-fluid clothes2">
                                <div class="row btn-group justify-content-center" role="group" aria-label="모드 선택"
                                  id="id-div-mode-change">
                                  <button type="button" class="btn btn_ btn-light col-md-6 active"
                                    onclick="changeCoordMode(0)">부위 설정</button>
                                  <button type="button" class="btn btn_ col-md-6 btn-dark"
                                    onclick="changeCoordMode(1)">코디하기</button>
                                </div>

                                <!--부위 설정-->
                                <div id="id-div-char-win" class="coord-win main mb-3">
                                  <div class="coord-part coord-part-main clickable blank" id="id-coord-head" value="모자">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/head-f.png" alt="머리" />
                                  </div>
                                  <div class="coord-part coord-part-main coord-part-top clickable blank"
                                    id="id-coord-top1" value="상의">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/top1-f.png" alt="상의 I" />
                                  </div>
                                  <div class="coord-part coord-part-main coord-part-bottom clickable blank"
                                    id="id-coord-bottom1" value="하의">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/bottom1-f.png" alt="하의 I" />
                                  </div>
                                  <!--
                                  <div class="coord-part coord-part-sub coord-part-top clickable blank"
                                    id="id-coord-top2" value="상의">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/top2-f.png" alt="상의 II" />
                                  </div>
                                  
                                  <div class="coord-part coord-part-sub coord-part-bottom clickable blank"
                                    id="id-coord-bottom2" value="하의">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="{../../images/clothes-icons/bottom2-f.png"
                                      alt="하의 II" />
                                  </div>-->
                                  <div class="coord-part coord-part-main clickable blank" id="id-coord-foot1"
                                    value="신발">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/foot1-f.png" alt="신발" />
                                  </div>
                                  <div class="coord-part coord-part-side clickable blank" id="id-coord-foot2"
                                    value="양말">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/foot2-f.png" alt="양말" />
                                  </div>
<!--
                                  <div class="coord-part coord-part-side coord-part-acc clickable blank"
                                    id="id-coord-acc1" value="액세서리">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/acc1-f.png" alt="액세서리1" />
                                  </div>
-->
                                  <div class="coord-part coord-part-side coord-part-acc clickable blank"
                                    id="id-coord-acc2" value="액세서리">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/acc2-f.png" alt="액세서리2" />
                                  </div>

                                  <div class="coord-part coord-part-side coord-part-acc clickable blank"
                                    id="id-coord-acc3" value="액세서리">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/acc3-f.png" alt="액세서리3" />
                                  </div>

                                  <div class="coord-part coord-part-side coord-part-acc clickable blank"
                                    id="id-coord-acc4" value="가방">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/acc4-f.png" alt="가방" />
                                  </div>

                                  <div class="coord-part coord-part-side coord-part-acc clickable blank"
                                    id="id-coord-acc5" value="액세서리">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/acc5-f.png" alt="액세서리5" />
                                  </div>

                                  <div class="coord-part coord-part-side coord-part-acc clickable blank"
                                    id="id-coord-acc6" value="액세서리">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/acc6-f.png" alt="액세서리6" />
                                  </div>

                                  <div class="coord-part coord-part-outer clickable blank" id="id-coord-outer"
                                    value="아우터">
                                    <div class="del"><i class="fas fa-times"></i></div>
                                    <div class="add"><i class="fas fa-plus-circle"></i></div>
                                    <img class="coord-img" src="../../images/clothes-icons/outer-f.png" alt="아우터" />
                                  </div>
                                </div>

                                <div id="id-div-coord-win" class="coord-win coord-post mb-3" id="tab1"
                                  style=" display: none;">
                                  <div class="row col-8 btn-group season" id="buttons " role="group" aria-label="배경 선택">
                                    <button type="button" class="col-md-2 btn btn-outline-success btn-sm"
                                      onclick="ChangeBack('1')">봄</button>
                                    <button type="button" class="col-md-2 btn btn-outline-primary btn-sm"
                                      onclick="ChangeBack('2')">여름</button>
                                    <button type="button" class="col-md-2 btn btn-outline-warning btn-sm"
                                      onclick="ChangeBack('3')">가을</button>
                                    <button type="button" class="col-md-2 btn btn-outline-secondary btn-sm"
                                      onclick="ChangeBack('4')">겨울</button>
                                    <button type="button" class="col-md-2 btn btn-outline-dark btn-sm"
                                      onclick="ChangeBack('5')">실내</button>
                                  </div>

                                  <div class="row save-group p-0 m-0 col-lg-4">
                                    <button type="button" class="btn col-6 btn-save1 btn-sm" onclick="">데일리룩 저장</button>
                                    <button type="button" class="btn col-6 btn-save2 btn-sm" onclick="">코디 저장</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>

                        <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>

          </div>
        </header>
        </main>
        <footer>
          <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon solid fa-heart">28</a></li>
            <li><a href="#" class="icon solid fa-comment">128</a></li>
          </ul>
        </footer>
      </article>

    </div>

    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
          href="http://unsplash.com">Unsplash</a>.</p>
    </section>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
  <script>
  function callModal(title, text){
    $('#myListModal').modal('show'); 
    $('#myListModal .modal-title').html(title);
    $('#myListModal .modal-body').html(text);
    }
    var myList1 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='모자'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList2 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='상의'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList3 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='액세서리'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList4 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='아우터'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList5 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='하의'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList6 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='가방'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList7= `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='양말'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList8 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='신발'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    var myList9 = `<% if (cloth !== null){
      for(let i = 0; i < cloth.length; i++) { %>
  <tr><td>
    <% if (cloth[i].cate=='기타'){%>
    <%=cloth[i].cate%></td></tr>
    <%  }}} %>`;

    $('#item_hat, #id-coord-head').click(function(){
    callModal('내가 가진 모자 리스트', myList1);
    });
    
    $('#item_top, #id-coord-top1').click(function(){
    callModal('내가 가진 상의 리스트', myList2);
    });
    $('#item_acc, #id-coord-acc2, #id-coord-acc3, #id-coord-acc5, #id-coord-acc6').click(function(){
    callModal('내가 가진 액세서리 리스트',myList3);
    });
    $('#item_out, #id-coord-outer').click(function(){
      callModal('내가 가진 아우터 리스트', myList4);
    });
    $('#item_btm, #id-coord-bottom1').click(function(){
      callModal('내가 가진 하의 리스트',myList5);
    });
    $('#item_bag, #id-coord-acc4').click(function(){
      callModal('내가 가진 가방 리스트', myList6);
    });
    $('#item_sock, #id-coord-foot2').click(function(){
      callModal('내가 가진 양말 리스트', myList7);
    });
    $('#item_shoe, #id-coord-foot1').click(function(){
      callModal('내가 가진 신발 리스트',myList8);
    });
    $('#item_else').click(function(){
      callModal('내가 가진 기타 리스트',myList9);
    });
  </script>
</body>

</html>